.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background-image {
    object-fit: cover;
    height: 100vh;
    min-width: 100%;
    fill: rgba(88, 101, 242, 0.3);
    filter: brightness(100%) saturate(90%);
}
