body {
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

main .conteudo-formulario {
  width: 450px;
}

main .conteudo-formulario h1 {
  font-size: 36px;
  font-weight: 400;
  color: var(--preto);
  text-align: center;
}

main .conteudo-formulario h2 {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--cinza-9);
  text-align: center;
}

main .conteudo-formulario form {
  display: flex;
  flex-direction: column;
}

main .conteudo-formulario label {
  font-weight: 500;
  color: var(--cinza-9);
  margin-bottom: 10px;
}

main .conteudo-formulario input + label {
  margin-top: 15px;
}

main .conteudo-formulario input {
  padding: 11px;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  color: var(--preto);
  border: 1px solid var(--cinza-6);
}

main .conteudo-formulario button {
  padding: 14.5px 0;
  border-radius: 5px;
  background-color: var(--principal);
  border: none;
  color: var(--branco);
  font-size: 16px;
}

main .conteudo-formulario p {
  text-align: center;
  margin-top: 20px;
  color: var(--cinza-9);
}

main .conteudo-formulario form > a {
  text-align: center;
  margin: 20px 0;
}

main .conteudo-formulario a {
  font-weight: 500;
  color: var(--preto);
}

.imagem-de-fundo {
  flex: 50%;
  background-image: url('../../assets/grupo-de-pessoas.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 115% center;
}
