body {
  display: flex;
  min-height: 100vh;
  background-color: var(--branco);
}

main {
  padding: 7.188rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

main .conteudo-formulario {
  max-width: 28.125rem;
  width: 100%;
  margin: 0 2.5rem;
}

main .conteudo-formulario h1 {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--preto);
  text-align: center;
}

main .conteudo-formulario h2 {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--cinza-9);
  text-align: center;
}

main .conteudo-formulario form {
  display: flex;
  flex-direction: column;
}

main .conteudo-formulario input + label {
  margin-top: 0.938rem;
}

main .conteudo-formulario p {
  text-align: center;
  margin-top: 1.25rem;
  color: var(--cinza-9);
}

main .conteudo-formulario form > a {
  text-align: center;
  margin: 1.25rem 0;
}

main .conteudo-formulario a {
  font-weight: 500;
  color: var(--preto);
}

main .conteudo-formulario a:hover {
  text-decoration: underline;
}

.imagem-de-fundo {
  flex: 50%;
  background-image: url('../../assets/grupo-de-pessoas.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  main {
    background-color: var(--branco);
    transform: translateY(-2.5rem);
    flex: initial;
    padding: 3.125rem 0;
    border-radius: 0.75rem 0.75rem 0 0;
  }

  .imagem-de-fundo {
    background-attachment: fixed;
    flex: initial;
    order: -1;
    height: 13.75rem;
  }
}
