/*************************** Main ***************************/

main {
  padding: 1.5rem 2.5rem;
}

main .conteudo-principal {
  max-width: 43.75rem;
  width: 100%;
  margin: 0 auto;
}

/********************* Criar reclamação *********************/

.link-criar-reclamacao {
  display: flex;
  gap: 0 0.75rem;
  background-color: var(--branco);
  border-radius: 0.5rem;
  border: 1px solid var(--cinza-4);
  padding: 0.75rem 1rem;
}

.link-criar-reclamacao .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  height: 3rem;
  color: var(--cinza-8);
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--cinza-2);
  border-radius: 50%;
}

.link-criar-reclamacao a {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0.844rem 1.25rem;
  border: 1px solid var(--cinza-6);
  border-radius: 2.188rem;
  color: var(--cinza-9);
  font-size: 0.875rem;
}

.link-criar-reclamacao a:hover {
  transition: background-color 0.2s;
  background-color: var(--cinza-2);
}

.link-criar-reclamacao ~ hr {
  margin: 1rem 0;
  border: 0.5px solid var(--cinza-4);
  border-radius: 0.5rem;
}

/********************* Reclamação *********************/

.reclamacao {
  background-color: var(--branco);
  border-radius: 0.5rem;
  border: 1px solid var(--cinza-4);
}

.reclamacao + .reclamacao {
  margin-top: 0.875rem;
}

/* Cabeçalho */

.reclamacao > header {
  display: grid;
  grid-template-areas: 'avatar nome' 'avatar info';
  grid-template-columns: max-content;
  gap: 0 0.75rem;
  padding: 0.75rem 1rem 0.5rem;
}

.reclamacao > header > .avatar {
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  height: 3rem;
  color: var(--cinza-8);
  font-size: 1.25rem;
  font-weight: 500;
  background-color: var(--cinza-2);
  border-radius: 50%;
}

.reclamacao > header h2 {
  grid-area: nome;
  align-self: flex-end;
  font-size: 1rem;
  color: var(--preto);
}

.reclamacao > header .informacoes-usuario {
  grid-area: info;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75rem;
  color: var(--cinza-10);
}

.reclamacao > header .informacoes-usuario span + span::before {
  padding: 0 0.313rem;
  content: '•';
}

/* Conteúdo da reclamação */

.reclamacao > .conteudo-reclamacao h3 {
  padding: 0 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--cinza-10);
}

.reclamacao > .conteudo-reclamacao p {
  word-wrap: break-word;
  font-size: 0.875rem;
  color: var(--preto);
  padding: 0.5rem 1rem 1.25rem;
}

.reclamacao > .conteudo-reclamacao figure {
  line-height: 0;
}

.reclamacao > .conteudo-reclamacao figure img {
  width: 100%;
}

/* Detalhes sociais */

.detalhes-sociais {
  display: flex;
  align-items: center;
  gap: 0 1.75rem;
  margin: 0.5rem 1rem 0;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  color: var(--cinza-10);
  border-bottom: 1px solid var(--cinza-4);
}

.detalhes-sociais span {
  display: flex;
  align-items: center;
  gap: 0 0.25rem;
}

.detalhes-sociais span i {
  font-size: 0.875rem;
  color: var(--principal);
}

/* Ações */

.acoes {
  display: flex;
  gap: 0 0.25rem;
  padding: 0.25rem 0.75rem 0.5rem;
  color: var(--color-10);
  font-size: 0.875rem;
}

.acoes button {
  display: flex;
  align-items: center;
  gap: 0 0.25rem;
  padding: 0.625rem 1.125rem;
  background-color: transparent;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.acoes button i {
  font-size: 1.5rem;
}

.acoes button:hover {
  background-color: var(--cinza-2);
}

.acoes button.ativo i {
  color: var(--principal);
}

/* Seção de comentários */

.secao-comentarios.ocultar {
  display: none;
}

/* Adicionar comentário */

.form-criar-comentario {
  display: flex;
  padding: 0 1rem 1.25rem;
}

.form-criar-comentario .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  color: var(--cinza-8);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--cinza-2);
  border-radius: 50%;
}

.form-criar-comentario input {
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  border: 1px solid var(--cinza-6);
  border-radius: 2.188rem;
}

/* Lista de comentários */

.comentarios {
  list-style: none;
}

.comentarios li {
  display: flex;
  padding: 0 1rem;
}

.comentarios li:last-of-type {
  padding-bottom: 1.25rem;
}

.comentarios li + li {
  margin-top: 0.5rem;
}

.comentarios li .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  color: var(--cinza-8);
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--cinza-2);
  border-radius: 50%;
}

.comentarios li .conteudo-comentario {
  flex: 1;
  background-color: var(--fundo);
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.5rem 1rem 1rem;
  font-size: 0.875rem;
}

.comentarios li .conteudo-comentario header {
  padding-bottom: 0.5rem;
}

.comentarios li .conteudo-comentario header > div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.313rem;
  width: 100%;
}

.comentarios li .conteudo-comentario h4 {
  color: var(--preto);
}

.comentarios li .conteudo-comentario .tipo-usuario {
  font-weight: 500;
  padding: 0.063rem 0.375rem;
  border-radius: 0.25rem;
  color: var(--branco);
  width: min-content;
}

.comentarios li .conteudo-comentario .autor {
  background-color: var(--principal);
}

.comentarios li .conteudo-comentario .gestor {
  background-color: var(--cinza-azulado);
}

.comentarios li .conteudo-comentario .profissao,
.comentarios li .conteudo-comentario .bairro {
  color: var(--cinza-9);
}

.comentarios li .conteudo-comentario .separador {
  color: var(--cinza-10);
}

.comentarios li .conteudo-comentario p {
  color: var(--preto);
}
