body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 43.75rem;
  padding: 5.625rem 7.188rem;
  background-color: var(--branco);
  border: 1px solid var(--cinza-4);
  border-radius: 0.5rem;
}

main h1 {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--preto);
  text-align: center;
}

main h2 {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--cinza-9);
  text-align: center;
}

main form input + label {
  margin-top: 0.938rem;
}

main form button {
  margin: 1.25rem 0;
}

main p {
  color: var(--preto);
  text-align: center;
}

main a {
  color: var(--preto);
  font-weight: 500;
}

main a:hover {
  text-decoration: underline;
}

@media (max-width: 720px) {
  body {
    background-color: var(--branco);
  }

  main {
    max-width: 28.125rem;
    width: 100%;
    margin: 2.5rem;
    padding: 0;
    border: none;
  }
}
