body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  max-width: 700px;
  padding: 90px 115px;
  background-color: var(--branco);
  border: 1px solid var(--cinza-4);
  border-radius: 8px;
}

main h1 {
  font-size: 36px;
  font-weight: 400;
  color: var(--preto);
  text-align: center;
}

main h2 {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--cinza-9);
  text-align: center;
}

main form input + label {
  margin-top: 15px;
}

main form button {
  margin: 20px 0;
}

main p {
  color: var(--preto);
  text-align: center;
}

main a {
  color: var(--preto);
  font-weight: 500;
}

main a:hover {
  text-decoration: underline;
}
